 body{
 	background-color: #00A1D2;
 }

 /*#################################IMAGES GROUPE####################*/
 #imagesD{
 	display: flex;
 	justify-content: center;

 }
 img{
 	margin-top: 2%;
 	height: 60%;
 	width: 60%;
 	border-radius: 10px;
  position: relative;
 

 }
  /*#################################IMAGES fin####################*/

  /*#################################dubut personne####################*/
#container{
 	 height: 300px; 
  	 margin-top: 20px;
  	 padding-left: 20%;
  	 font-size: 15px;
}

  /*#######################################################################*/
button{
  	  	width: 170px;
}
  /*#######################################################################*/
ul{
  	padding: 0px;
  	text-align: center;
}
  /*#######################################################################*/
li{
  	list-style: none;
  	background-color: transparent!important;
  	margin-top: 5px;
}
/*#######################################################################*/
#div1{
  	height: 300px;
}
/*#######################################################################*/
#div2{
    margin-left: 24%;
}
/*#######################################################################*/
#div3{
  	height: 300px;
}
  /*#######################################################################*/
#logo{
  height: 200px;
  width: 200px;
}
  /*#######################################################################*/
