*{
  padding:0px;
margin:0px;
}
#messagerie{
margin-top:50px;
  width:70%;
  height:220px;
  border:5px solid #809dd3;
  background-image: transparent;
  color:#809dd3;
}
#box{
margin-top:50px;
  width:100%;
  height:200px;
  border:1px solid #00a1d0;
    background-image: transparent;
  overflow: scroll;

}
.banderol{
  width:50%;
  height:100px;
  background-image :url("../img/simplon.png") ;
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  margin-left:38%;
}
#mess{
  color:#809dd3;
}
#forum{
  text-align: center;
  color:#809dd3;
  position:relative;
}
#users{

  width:20%;
  margin-top:40px;


}
#tableau{
  margin-top:60px;
  width:80%;
  height:480px;
  border:1px solid #00a1d0;
margin-left:5%;

}
#container{
  margin-top:50px;

}
#message{
  
  width:75%;
  height:190px;
  margin-left:5%;
  border-radius: 10px 10px 10px ;

border-left:outset 5px black;
  }
#contact{
  margin-top:10px;
  width:80%;
  height:200px;
  border:outset 5px black;
    border-radius:10px 10px 10px ;
  margin-left:10%;
  background-color: #00a1d0;


}
