#chrisdach{
  background-color: white;
}
#FAQ a{
  color: #00A1D2;
  cursor: pointer;
}
#FAQ a:hover{
  text-decoration: none;
}
#FAQ p{
  font-size: 20px;
}
h1{
  text-align: center;
  color: #00A1D2;
  background-color: black;
}
.jumbotron{
  margin-top: 5px;
  background-color: #FFF;
}
.jumbotron a{
  color: #2E60BB;
}
#carousel-example-generic{
  width: 95%;
  margin: 3% auto 0;
  padding: 2px;
}
#carousel-example-generic img{
  width: 70%;
  height: 50%;
  margin: auto;
}
#btnactu{
  margin-top: 4%;
}
#btnactu input{
  color: #2E60BB;
}
@media screen and (max-width:600px) {
  #carousel-example-generic{
    width: 90%;
  }
}
@media screen and (max-width:320px) {
  #btnactu input{
    display: block;
    margin: auto;
  }
  .jumbotron{
    width: 96%;
    margin-left: 2%;
  }
}
#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  display: none;
  color: #00A1D0;
  outline: none;
}
#titleFAQ{
  color: #00A1D2;
  text-decoration: underline;
}
.questions{
  cursor: pointer;
  color: #00A1D2;
  text-decoration: underline;
}
.reponses{
  color: #2E60BB;
}
#UL li{
  list-style-type: none;
  font-size: 18px;
}
footer{
  margin-top: 20px;
  width: 100%;
  height: 115px;
  padding: 1%;
  background-color:black;
  background-repeat: no-repeat;
  background-size: contain;
  text-align:center;
}
